CONFIG_MARIADB_INSTALL=y
CONFIG_GLANCE_INSTALL=y
CONFIG_CINDER_INSTALL=y
CONFIG_MANILA_INSTALL=n
CONFIG_NOVA_INSTALL=y
CONFIG_NEUTRON_INSTALL=y
CONFIG_HORIZON_INSTALL=y
CONFIG_SWIFT_INSTALL=y
CONFIG_CEILOMETER_INSTALL=y
CONFIG_AODH_INSTALL=y
CONFIG_PANKO_INSTALL=n
CONFIG_SAHARA_INSTALL=n
CONFIG_HEAT_INSTALL=y
CONFIG_MAGNUM_INSTALL=n
CONFIG_TROVE_INSTALL=y
CONFIG_IRONIC_INSTALL=n
CONFIG_CLIENT_INSTALL=y
CONFIG_PROVISION_DEMO=n

CONFIG_AMQP_ENABLE_SSL=y
CONFIG_AMQP_ENABLE_AUTH=y

CONFIG_HORIZON_SSL=y
CONFIG_VNC_SSL_CERT=
CONFIG_VNC_SSL_KEY=
CONFIG_NEUTRON_METERING_AGENT_INSTALL=y
CONFIG_NEUTRON_FWAAS=y
CONFIG_NEUTRON_VPNAAS=n
CONFIG_NEUTRON_L2_AGENT=openvswitch


CONFIG_SSL_CACERT_SELFSIGN=y
CONFIG_SSL_CACERT_FILE=/etc/pki/tls/certs/selfcert.crt
CONFIG_SSL_CACERT_KEY_FILE=/etc/pki/tls/private/selfkey.key
CONFIG_NTP_SERVERS=69.89.207.199
CONFIG_CONTROLLER_HOST=%CONTROLLERLIST%
CONFIG_COMPUTE_HOSTS=%COMPUTELIST%
CONFIG_NETWORK_HOSTS=%NETWORKLIST%
CONFIG_STORAGE_HOST=%STORAGELIST%
CONFIG_SAHARA_HOST=%SAHARALIST%
CONFIG_SSL_CERT_SUBJECT_C=--
CONFIG_SSL_CERT_SUBJECT_ST=State
CONFIG_SSL_CERT_SUBJECT_L=City
CONFIG_SSL_CERT_SUBJECT_O=openstack
CONFIG_SSL_CERT_SUBJECT_OU=packstack
CONFIG_SSL_CERT_SUBJECT_CN=%HOSTNAME%
CONFIG_SSL_CERT_SUBJECT_MAIL=admin@%HOSTNAME%
CONFIG_AMQP_HOST=%AMQPLIST%
CONFIG_MARIADB_HOST=%MYSQLLIST%
CONFIG_KEYSTONE_LDAP_URL=ldap://%LDAPSERVER%
CONFIG_REDIS_HOST=%REDISLIST%
CONFIG_HORIZON_SSL_CERT=
CONFIG_HORIZON_SSL_KEY=
CONFIG_HORIZON_SSL_CACERT=
CONFIG_NEUTRON_L3_EXT_BRIDGE=br-ex
CONFIG_NEUTRON_ML2_TYPE_DRIVERS=vxlan,flat
CONFIG_NEUTRON_ML2_TENANT_NETWORK_TYPES=vxlan
CONFIG_NEUTRON_ML2_MECHANISM_DRIVERS=openvswitch
CONFIG_NEUTRON_OVS_BRIDGE_MAPPINGS=extnet:br-ex,lannet:br-lan
CONFIG_NEUTRON_OVS_BRIDGE_IFACES=br-ex:eth0,br-lan:eth1
CONFIG_NEUTRON_OVS_BRIDGES_COMPUTE=
CONFIG_NEUTRON_OVS_EXTERNAL_PHYSNET=extnet
